{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "google",
    "plugin:react/recommended"
  ],
  "globals": {
    "Atomics": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "react",
    "eslint-plugin-import"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "error"
    ],
    "indent": [
      "error",
      2,
      {
        "MemberExpression": 1
      }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "max-len": [
      2,
      {
        "code": 120
      }
    ],
    "no-unused-vars": "off",
    "no-restricted-imports": [
      "error",
      {
        "patterns": [
          "@material-ui/*/*/*",
          "!@material-ui/core/test-utils/*"
        ]
      }
    ],
    "spaced-comment": [
      "error",
      "always",
      {
        "markers": [
          "/"
        ]
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal"
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": [
          "react"
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
